html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #00000;
}

p {
    font-size: 16px;
}

a {
    color: #000000;
}

#logo, .project-img {
    max-height: 300px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#artwork img{
    height: 500px;
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/836957960630326440/A7A5DA84E434D11499AAB35119C25A268D160D0C/');
    background-size: cover;
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-2 {
    background-color: #000000; /* Black */
    color: #00ccff; /* Blue */
}

.edgy-black {
    background-color: #000000;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #151515; /* Dark Gray */
    color: #00ccff;
}

.bg-4 {
    background-image: url('https://data.whicdn.com/images/145913685/original.gif'); /* falling leaves */
    background-size: cover;
    background-color: #000000; /* Black */
    color: #fff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #00ccff !important;
}
